%h1= "Welcome to Recipe Roulette"

- if current_user
    #{ button_to 'Find a random Recipe!', recipe_path(@recipe.id), method: :get }
- else
- if current_user && current_user.admin?
    #{ link_to 'Admin Dashboard', rails_admin.dashboard_path }